<!DOCTYPE html>
<html>
<head>
    <title>Random Fun Fact</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Random Fun Fact About a Country</h1>
        <p>{{item.fact}}</p>
    </div>
</body>
</html>